#ignore .vscode file
.vscode/

#ignore strange files:
*.dSYM
.DS_Store

#ignore .o and .a files:
*.[oa]

#ignore .out files:
*.out

#ignore .exe files:
*.exe

#ignore .txt files:
#*.txt

#ignore stupid vscode files:
*/tempCodeRunnerFile.c